{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'transport/styles/styles.css' %}">

    <script src="{% static 'javascript/orders.js' %}">
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block  head %}
    {% endblock %}
  </head>
  <body>
    <div class="home_navbar">
      <ul class=ul>
        <li class="li"><a href="{% url 'home' %}">Home</a></li>
        <li class="li"><a href="{% url 'new_order_page'%}">New Order</a></li>
        <li class="li"><a href="{% url 'profile' %}">{{request.user|capfirst}}</a></li>
        <li class="li"><a href="{% url 'contact' %}">Contact</a></li>
        <li id="logout_li"><div class="dropdown">
          <form class="logout_form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button  id="logout_button" class="dropbtn" type="submit" name="button">Log Out</button>
          </form>
        </div></li>
      </ul>
    </div>
    <div class="side_bar">
      <ul>
        <li><a href='#'>Team</a></li>
        <li><a href='#'>Trucks</a></li>
        <li><a href='#'>Transport</a></li>
        <li><a href='#'>Reviews</a></li>
        <li><a href='#'>Moving Tips</a></li>
        <li><a href='#'>Services</a></li>
        <li><a href='#'>Legal</a></li>
        <li><a href='#'>Careers</a></li>
      </ul>
    </div>

    <div class="main_div">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
