{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'transport/styles/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'javascript/layout.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block  head %} {% endblock %}
  </head>
  <body>
  <div class="navbarr">
    <ul>
   <li class="one"><a id="login_company_link" href="#">FERCAM</a></li><!--
--><li class="two"><a id="login_service_link" href="#">Service</a></li><!--
--><li class="three"><a id="login_why_fercam_link" href="#">Why Fercam?</a></li><!--
--><li class="four"><a id="login_sectors_link" href="#">Sectors</a></li>
   <li class='register_li'><a id="register_link" href="#">Register</a></li>
    <li id="login_li"><div class="dropdown">
      <button id="login_dropdown_button" class="dropbtn" type="button" name="button">Log In <i class="fa fa-caret-down"></i></button>
    </div></li>
    <hr class="underline"/>
 </ul>
  </div>
    <div id="service_div">
      <p>Our service is amazing</p>
      <ul id="service_ul">
        <div class="vertical_line_left"></div>
        <div class="vertical_line_right"></div>
        <a href="#">Contract Logistics and warehousing</a>
        <a href="#">FTL transports - Full truck loads</a>
        <a href="#">LTL trasnports - Partial truck transports</a>
        <a href="#">Intermodal Transports</a>
      </ul>
      <ul id="service_ul_2">
        <div class="vertical_line_right"></div>
        <a href="#">Contract Logistics and warehousing</a>
        <a href="#">FTL transports - Full truck loads</a>
        <a href="#">LTL trasnports - Partial truck transports</a>
        <a href="#">Intermodal Transports</a>
      </ul>
      <ul id="service_ul_3">
        <div class="vertical_line_right"></div>
        <a href="#">Contract Logistics and warehousing</a>
        <a href="#">FTL transports - Full truck loads</a>
        <a href="#">LTL trasnports - Partial truck transports</a>
        <a href="#">Intermodal Transports</a>
      </ul>
    </div>
    <div id="sectors_div">
      <p>We have the most amazing sectors, believe me</p>
    </div>
    <div id="company_div">
      <p>This company is amazing</p>
    </div>
    <div id="why_fercam_div">
      <p>We are better then the other guys</p>
    </div>
      <form id='login_form' class="login_form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input id="login_username_input" type="text" name="login_username" value="" placeholder="Username">
        <input id="login_password_input" type="password" name="login_password" value="" placeholder="Password">
        <button id="login_button" type="submit" name="button">Log In</button>
      </form>
      <form id="sign_up_form" class="sign_up_form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h3 id="register_headline">New Here?<br> Sign up!</h1>
        <input id='register_username_input' type="text" name="username" value="" placeholder="Username" required>
        <input id="register_first_input" type="text" name="first" value="" placeholder="First Name" required>
        <input id="register_last_input" type="text" name="last" value="" placeholder="last Name" required>
        <input id="register_email_input" type="email" name="email" value="" placeholder="Email" required>
        <input id="register_password_input" type="password" name="password" placeholder="Password" required>
        <input id="register_password_conf_input" type="password" name="password_confirmation" placeholder="Password Confirmation" required>
        <button id="register_submit_button" type="submit" class="btn btn-primary" name="button">Sign Up!</button>

      </form>
      <div class="main">
        <div id='message' class="message">
          {{message}}
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div id='carousel-pic' class="carousel-inner">
          <div class="carousel-item active">
            <img  class="d-block w-100" src="{% static 'transport/pictures/1.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'transport/pictures/2.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'transport/pictures/3.jpg' %}" alt="Third slide">
          </div>
        </div>

        </div>


      </div>

  </body>
</html>
